# Variables

In [3]:
# Este es un comentario
2 + 2

4

In [4]:
caja = 28

In [5]:
print(caja)

28

In [6]:
caja

28

In [8]:
variable = "Mi primera variable"
print(variable)

Mi primera variable

In [9]:
variable_2 = 25 # variables se escriben con minusculas
print(variable_2)

25

# Tipos de datos

In [10]:
entero = 45
print(entero)

45

In [11]:
type(entero)

int

In [12]:
caracteres = "Hola, mundo"
print(caracteres)

Hola, mundo

In [13]:
type(caracteres)

str

In [14]:
flotante = 4.5
print(flotante)

4.5

In [15]:
type(flotante)

float

In [16]:
booleano = True
print(booleano)

True

In [17]:
type(booleano)

bool

In [19]:
complejo = 4 + 5j
print(complejo)

(4+5j)

In [20]:
type(complejo)

complex

# Operaciones entre variables

In [23]:
a = 4
b = 5
a + b

9

In [22]:
b - a

1

In [24]:
b * a

20

In [25]:
17 / 5

3.4

In [26]:
17 // 5

3

In [27]:
17 % 5

2

In [28]:
4 **2

16

# Operaciones de asignacion

In [1]:
mi_edad = 28

In [2]:
mi_edad = "28 años"

In [3]:
print(mi_edad)

28 años

In [4]:
mi_edad = 28

In [5]:
mi_edad = mi_edad +1
print(mi_edad)

29

In [6]:
mi_edad = 28
mi_edad += 1
print(mi_edad)

29

In [7]:
años_jubilacion = 35
años_jubilacion -= 1
print(años_jubilacion)

34

# Operaciones relacionales

In [8]:
20 == 19

False

In [9]:
20 != 19

True

In [11]:
20>=19

True

In [12]:
20<=19

False

In [14]:
"Estoy " + "Feliz de aprender " + "Python"

'Estoy Feliz de aprender Python'

In [15]:
"ja,ja " * 3

'ja,ja ja,ja ja,ja '

# Conversion tipo de datos

In [17]:
a = "5"
print(a)

5

In [18]:
type(a)

str

In [19]:
int(a)

5

In [20]:
type (a)

str

In [21]:
b = int(a)
print(b)
type(b)

5

int

In [22]:
nombre = "Carla"
int(nombre)

ValueError: invalid literal for int() with base 10: 'Carla'

In [23]:
b = '5.6'
print(type(b))
b = float(b)
print(type(b))

<class 'str'>
<class 'float'>

In [24]:
str(5.6)

'5.6'